<header class="main-header">
    <div class="header-container">
        <div class="header-top">
            <div class="site-title"><a href="/en/index.html">BrainDetox</a></div>
        </div>
        <nav class="main-nav" aria-label="Main menu">
            <ul class="nav-list">
                <li class="nav-item"><a href="/en/index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/en/blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/en/lotto.html" class="nav-link">Lottery Generator</a></li>
                <li class="nav-item"><a href="/en/subnet.html" class="nav-link">Subnet Calculator</a></li>
                <li class="nav-item"><a href="/en/password.html" class="nav-link">Password Generator</a></li>
                <li class="nav-item"><a href="/en/qrcode.html" class="nav-link">QR Code Generator</a></li>
                <li class="nav-item"><a href="/en/datetime.html" class="nav-link">Date/Time Calculator</a></li>
                <li class="nav-item"><a href="/en/static_index.html" class="nav-link">Free Tools</a></li>
            </ul>
        </nav>
    </div>
</header>
