<!-- 헤더 영역 -->
<header class="main-header">
    <div class="header-container">
        <h1 class="site-title">늙은아이의 유틸리티 창고</h1>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">홈</a>
                </li>
                <li class="nav-item">
                    <a href="lotto.html" class="nav-link">로또 번호 생성기</a>
                </li>
                <li class="nav-item">
                    <a href="subnet.html" class="nav-link">서브넷 계산기</a>
                </li>
                <li class="nav-item">
                    <a href="password.html" class="nav-link">비밀번호 생성기</a>
                </li>
            </ul>
        </nav>
    </div>
</header> 