<header class="main-header">
    <div class="header-container">
        <h1 class="site-title" style="text-align: center; margin-bottom: 8px;"><a href="index.html" style="color: inherit; text-decoration: none; font-weight: 900 !important;">BrainDetox Utility Box</a></h1>
        <nav class="main-nav" style="margin-top: 5px;">
            <ul class="nav-list" style="gap: 10px; display: flex; justify-content: center; flex-wrap: wrap;">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">홈</a>
                </li>
                <li class="nav-item">
                    <a href="blog.html" class="nav-link">기술 블로그</a>
                </li>
                <li class="nav-item">
                    <a href="lotto.html" class="nav-link">로또 번호 생성기</a>
                </li>
                <li class="nav-item">
                    <a href="subnet.html" class="nav-link">서브넷 계산기</a>
                </li>
                <li class="nav-item">
                    <a href="password.html" class="nav-link">비밀번호 생성기</a>
                </li>
                <li class="nav-item">
                    <a href="qrcode.html" class="nav-link">QR 코드 생성기</a>
                </li>
                <li class="nav-item">
                    <a href="datetime.html" class="nav-link">시간/날짜 계산기</a>
                </li>
            </ul>
        </nav>
    </div>
</header> 